{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>FlaskCalc</h1>
    <div class="form-container">
        <h3 class="error">{{ error_msg }}</h3>
        <form action="/" method="post" class="calculator-form">
            <div class="input-group">
                <input type="number" name="number_1" placeholder="First number.">
                <input type="number" name="number_2" placeholder="Second number.">
            </div>
            <div class="operations">
                <label class="radio-option">
                    <input type="radio" name="operation" value="a" checked> Add
                </label>
                <label class="radio-option">
                    <input type="radio" name="operation" value="s"> Subtract
                </label>
                <label class="radio-option">
                    <input type="radio" name="operation" value="m"> Multiply
                </label>
                <label class="radio-option">
                    <input type="radio" name="operation" value="d"> Divide
                </label>
            </div>
            <button type="submit">Calculate</button>
        </form>
    </div>
    <p class="result">Result: {{ result }}</p>
</div>
{% endblock %}
